/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.modal .modal-content .modal-button, .main, .main .header, .main .board, .main .board .row .cell, form, form .setting-content .setting-label, form .setting-content .setting-input, form .setting-content .setting-limit, .game-status {
  display: flex; }

.modal .modal-content .modal-button, .main, .main .header, .main .board, .main .board .row .cell, form, form .setting-content .setting-label, form .setting-content .setting-input, form .setting-content .setting-limit, .game-status {
  display: flex; }

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 330px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, 0.2);
  /* Modal Content */ }
  .modal .modal-content {
    background-color: #f6fffbc7;
    border-radius: 6px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 10 10 20 20;
    border: 1px solid #888;
    width: 360px; }
    .modal .modal-content .close {
      color: #000000;
      float: right;
      font-size: 28px;
      font-weight: bold; }
    .modal .modal-content .close:hover,
    .modal .modal-content .close:focus {
      color: #bd2d2d;
      text-decoration: none;
      cursor: pointer; }
    .modal .modal-content .modal-button {
      flex-direction: row;
      justify-content: center;
      align-items: center; }

.btn {
  border: 2px solid #312f2f;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  text-align: center;
  font-family: inherit;
  padding: 5;
  margin: 10;
  cursor: pointer; }

.btn:hover {
  background-color: #c3ccc3; }

.main {
  background: url(../image/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  font-family: cursive;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main .hidden {
    display: none; }
  .main .header {
    flex: 15%;
    padding-top: 25;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main .header .name {
      font-size: 60; }
    .main .header .rule {
      padding-top: 30px;
      font-size: 18; }
      .main .header .rule .number-to-win {
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;
        color: #27a031; }
  .main .setting {
    cursor: pointer; }
  .main .setting:hover {
    color: #8a8a8a; }
  .main .setting:before {
    content: "";
    display: inline-block;
    background: url(../image/setting.png) center/contain no-repeat;
    width: 15px;
    height: 15px;
    margin-top: 15px; }
  .main .board {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%; }
    .main .board .row {
      display: flex;
      width: 400px;
      border-top: 3px solid #27a031; }
      .main .board .row .X {
        background: url(../image/x-symbol.png) center/50% 50% no-repeat; }
      .main .board .row .O {
        background: url(../image/o-symbol.png) center/50% 50% no-repeat; }
      .main .board .row .Xw {
        background: url(../image/x-symbol-w.png) center/50% 50% no-repeat; }
      .main .board .row .Ow {
        background: url(../image/o-symbol-w.png) center/50% 50% no-repeat; }
      .main .board .row .cell {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.333%;
        border-right: 3px solid #27a031;
        cursor: pointer; }
      .main .board .row .cell:after {
        content: '';
        display: block;
        margin-top: 100%; }
      .main .board .row .cell:last-of-type {
        border-right: transparent; }
    .main .board .row:first-of-type {
      border-top: transparent; }
  .main .footer {
    font-size: 20;
    text-align: center;
    flex: 20%; }
    .main .footer .status {
      padding: 25 0 25 0; }
    .main .footer .status-end {
      padding: 25 0 25 0;
      color: red; }
    .main .footer .result {
      padding-bottom: 25; }
      .main .footer .result .tblResult {
        width: 100%;
        height: 50px; }
        .main .footer .result .tblResult td {
          text-align: center;
          vertical-align: middle; }
    .main .footer .playagain {
      width: 200px; }
  .main .history-content {
    position: absolute;
    top: 270px;
    right: 200px;
    height: 400px; }
    .main .history-content .history {
      height: inherit;
      overflow: auto; }
      .main .history-content .history .history-line {
        padding: 5;
        color: #27a031;
        cursor: pointer;
        text-decoration: underline; }

form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30 30 0 30; }
  form .setting-content {
    display: flex; }
    form .setting-content .setting-label {
      flex-direction: column;
      flex: 50%;
      text-align: right; }
      form .setting-content .setting-label div {
        margin: 20 0; }
    form .setting-content .setting-input {
      flex: 50%;
      flex-direction: column; }
      form .setting-content .setting-input input {
        width: 70px;
        margin: 20px;
        border: none;
        border-bottom: 1px solid #776969;
        background-color: #ffffff00;
        text-align: center; }
    form .setting-content .setting-limit {
      flex-direction: column;
      flex: 50%;
      text-align: left;
      font-size: 11; }
      form .setting-content .setting-limit div {
        margin: 25 0; }
  form .save {
    margin-top: 20px; }

.game-status {
  padding: 30 30 0 30;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMvYXBwLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/